.coffeeInCartCardContainer {
  display: flex;
  justify-content: space-between;
  flex: 1;

  img {
    width: 64px;
    height: 64px;

    @media (max-width: 1440px) {
      width: 48px;
      height: 48px;
    }
  }

  >div {
    display: flex;
    gap: 1.25rem;
  }

  >strong {
    color: var(--base-text);
    font-size: 1rem;
    line-height: 130%;
    font-weight: bold;
    padding-left: 2rem;
    width: 100px;

    @media (max-width: 1440px) {
      padding-left: 1.25rem;
      width: 60px;
    }
  }
}

.coffeeInCartInformationsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.actionsContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.selectAmountContainer {
  display: flex;
  align-items: center;
  line-height: 130%;
  border-radius: 6px;
  background-color: var(--base-button);
  gap: 0.25rem;
  padding: 0.5rem;
  justify-content: center;

  @media (max-width: 1440px) {
    line-height: 100%;
    font-size: 0.875rem;
  }

  span {
    color: var(--base-title);
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--purple);
    border: none;
    background: none;

    &:hover {
      cursor: pointer;
      color: var(--purple-dark);
    }
  }
}

.removeFromCartButton {
  display: flex;
  align-items: center;
  line-height: 130%;
  border-radius: 6px;
  background-color: var(--base-button);
  gap: 0.25rem;
  padding: 0.5rem;
  color: var(--base-title);
  border: none;

  @media (max-width: 1440px) {
    line-height: 100%;
    font-size: 0.875rem;
  }

  svg {
    color: var(--purple);
  }

  &:hover {
    cursor: pointer;
    background-color: var(--base-hover);
  }
}

.separatorContainer {
  padding: 1.5rem 0;

  hr {
    border-color: var(--base-button);
    background: none;
  }
}