.checkoutContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-top: 2.5rem;
  gap: 2rem;
}

.completeYourOrderContainer {
  max-width: 920px;

  >div {
    border-radius: 6px;
  }

  >div+div {
    margin-top: 0.75rem;
  }
}

.checkoutCardTitle {
  line-height: 130%;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 2rem;

  span {
    color: var(--subtitle);
  }

  p {
    font-size: 0.875rem;
    color: var(--base-text);
  }
}

.iconYellowDark {
  svg {
    color: var(--yellow-dark);
  }
}

.iconPurple {
  svg {
    color: var(--purple);
  }
}

.inputsContainer {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1;

  >div {
    gap: 0.75rem;
    display: flex;
  }
}

.checkoutInput {
  border: 1px solid var(--base-button);
  border-radius: 4px;
  padding: 0.75rem;
  background-color: var(--base-input);
  color: var(--base-text);
  font-size: 0.875rem;
  line-height: 130%;
  width: 12.5rem;

  &:placeholder {
    color: var(--base-label);
  }

  &:focus {
    outline: none;
    border: 1px solid var(--yellow-dark);
  }
}

.fullInput {
  flex: 1;
}

.miniInput {
  width: 3.75rem;
}

.paymentOptionsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
}

.cartContainer {
  >div {
    border-radius: 6px 44px;
  }
}

.completeYourOrderContainer,
.cartContainer {
  h4 {
    font-family: 'Baloo 2', cursive;
    line-height: 130%;
    font-size: 1.125rem;
    margin-bottom: 1rem;
  }

  >div {
    background: var(--base-card);
    padding: 2.5rem;
  }
}

.cartOrderDetailsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem;
  margin-bottom: 2rem;
  line-height: 130%;

  span {
    color: var(--base-text);
    font-size: 0.875rem;
  }

  strong {
    color: var(--base-subtitle);
    font-weight: bold;
    font-size: 1.25rem;
  }

  span:nth-child(2n) {
    text-align: right;
  }

  strong:nth-child(2n) {
    text-align: right;
  }
}

.processOrderButton {
  background: var(--yellow);
  color: var(--white);
  padding: 0.75rem 0.5rem;
  width: 100%;
  border: none;
  text-transform: uppercase;
  line-height: 160%;
  font-weight: bold;
  font-size: 0.875rem;
  border-radius: 6px;
  transition: background 0.1s ease-in-out;

  &:hover {
    background: var(--yellow-dark);
  }
}