.cardContainer {
  background: var(--base-card);
  border-radius: 6px 36px;
}

.coffeeImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1.25rem;
  margin-bottom: 0.75rem;
}

.coffeeTagsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;

  span {
    text-transform: uppercase;
    color: var(--yellow-dark);
    background: var(--yellow-light);
    padding: 0.5rem 0.25rem;
    font-weight: bold;
    font-size: 0.625rem;
    line-height: 130%;
    // border-radius: 50%;
  }
}

.infoContainer {
  h3 {
    color: var(--base-subtitle);
    font-family: 'Baloo 2', cursive;
    font-weight: bold;
    font-size: 1.25rem;
    text-align: center;
    margin-top: 1rem;
    line-height: 130%;
    padding: 0 1.25rem;
  }

  p {
    color: var(--base-label);
    text-align: center;
    margin-top: 0.5rem;
    line-height: 130%;
    font-size: 0.875rem;
    padding: 0 1.25rem;
  }

  >div {
    margin-top: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem 1.25rem;
  }
}